/* .stackクラスの直下の子要素（1つ目以外）*/
.stack > * + * {
  margin-top: var(--stack-space, 1.5em);
}

.stack h2,
.stack h3 {
  --stack-space: 2em;
}

.stack h2 + *,
.stack h3 + * {
  --stack-space: 0.8em;
}

.stack p {
  line-height: 1.8;
}

.stack a {
  color: #1592e6 !important;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: .7;
  }
}

.stack ul li {
  padding-left: 1em;
  position: relative;
}

.stack ul li::before {
  content: "・";
  position: absolute;
  top: .02em;
  left: 0;
  font-size: 1em;
}

.stack table {
  border-collapse: collapse;
  th,td {
    border: 1px solid var(--gray-25);
    font-size: 14px;
    padding: 0.4em;
  }
  th {
    background-color: rgba(#f8e5e6, .5);
    font-weight: 400;
    text-align: left;

    &:nth-of-type(2) {
      width: 100px;
      text-align: center;
    }
  }
  td {
    white-space: pre-wrap;
    &:nth-of-type(2) {
      text-align: center;
    }
  }
}

/* グローバルスタイルでリセットしたスタイルをブラウザ標準のスタイルに戻すように指定 */
// .stack ul {
//   padding: revert;
//   list-style: revert;
// }