.flexContainer {
  composes: sideBySide from 'styles/utils.module.scss';
  gap: var(--space-md);
  margin: var(--space-md) 0 var(--space-lg);
}

@media (min-width: 768px) {
  .main {
    width: calc(768 / 1052 * 100%);
  }

  .sidebar {
    width: calc(240 / 1052 * 100%);
    position: sticky;
    top: 40px;
    align-self: flex-start;
  }

  .sidebar * {
    text-align: right;
  }

  .sidebar :is(div, ul) {
    width: fit-content;
    margin-left: auto;
    place-items: flex-end;
    place-content: flex-end;
  }
}